@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
    background: $blue;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #fff;
    background: $blue;
    font-family: Roboto;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.button-add {
    padding: 12px;
    font-size: 18px;
    color: #000;
    border: none;
    border-radius: 4px;
    background: #fff;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 48px 0 26px;
}

.button-remove {
    background: none;
    padding: 12px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    min-width: 216px;
}

.counter {
    width: 280px;
    height: 280px;
    background: url('../assets/img/water-glass.svg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 112px;
    &__value {
        display: block;
        padding-top: 64px;
    }
}

.heading {
    font-size: 55px;
    margin: 0 0 64px 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}